@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100..900&display=swap");
@tailwind components;
@tailwind utilities;

/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  color: inherit;
  vertical-align: center;
}

/* Apply a global font family */
body {
  font-family: "Public Sans", sans-serif;
  overflow-x: hidden;
}

.star-rating {
  @apply tw-flex tw-items-center tw-mt-2 -tw-m-2;
}

.star-rating a {
  @apply tw-text-sm tw-font-medium tw-text-blue-600 hover:tw-underline;
}

.star-rating-bar {
  @apply tw-w-2/4 tw-h-5 tw-mx-4 tw-rounded;
}

.star-rating-fill {
  @apply tw-h-5 tw-rounded tw-bg-yellow-300;
}

.star-rating-percentage {
  @apply tw-text-sm tw-font-medium tw-text-gray-500;
}

.drawer-header {
  @apply tw-px-6 tw-py-3 tw-bg-cyan-500;
}

.drawer-header h2 {
  @apply tw-text-xl tw-font-semibold tw-text-white;
}

.css-aysnnq {
  padding: 0px !important;
}

.css-3ui2y3 {
  position: static !important;
  background-color: #f5f7fa !important;
  min-width: auto !important;
}
.legend-container {
  display: flex;
  justify-content: center;
}

.reviews-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* subtle shadow to float the table */
}

.reviews-table th,
.reviews-table td {
  text-align: left;
  padding: 12px 15px;
  border: 1px solid #ddd;
  /* light border for cells */
}

.reviews-table thead {
  background-color: #f4f4f4;
  /* light grey background for the table header */
  color: #333;
  /* dark text for contrast */
}

.reviews-table tbody tr:nth-child(odd) {
  background-color: #fafafa;
  /* zebra-striping for rows */
}

.reviews-table tbody tr:hover {
  background-color: #f1f1f1;
  /* hover effect for rows */
  cursor: pointer;
}

.reviews-table th {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 10;
}
