@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100..900&display=swap");
@tailwind components;
@tailwind utilities;

/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  color: inherit;
  vertical-align: center;
}

/* Apply a global font family */
body {
  font-family: "Public Sans", sans-serif;
  overflow-x: hidden;
}

.star-rating {
  @apply flex items-center mt-4;
}

.star-rating a {
  @apply text-sm font-medium text-blue-600 hover:underline;
}

.star-rating-bar {
  @apply w-2/4 h-5 mx-4 rounded;
}

.star-rating-fill {
  @apply h-5 rounded bg-yellow-300;
}

.star-rating-percentage {
  @apply text-sm font-medium text-gray-500;
}
.css-aysnnq {
  padding: 0px !important;
}

.css-3ui2y3 {
  position: static !important;
  background-color: #F5F7FA !important;
  min-width: auto !important;
}
.css-1opa4kg {
  background-color: #F5F7FA !important;

}

.css-1r2ffba {
  background-color: #F5F7FA !important;

}

.css-1kzxbtl {
  background-color: #F5F7FA !important;

}

.css-1clf7pz {
  padding: 0;
}